<!-- base.html -->
{% extends "base.html" %}

{% block content %}



<div data-v-4eff3b31="" class="md-card-content search-result-card__content"><div data-v-4eff3b31="" class="search-result-card__entity"><div data-v-4eff3b31="" class="search-result-card__entity-data"><div data-v-4eff3b31="" class="search-result-card__entity-picture entity-picture entity-picture--is-hexagon entity-picture--has-shadow" border-color="#FFFFFF" style="--size:64px; --font-size:28px; --border-width:5px; --box-shadow:0px 2px 4px rgba(0,0,0,0.5);"><div class="hexagon-border hexagon-border--no-margins"></div> 
                <ul data-v-4eff3b31=""></ul>
                <img class="entity-picture__thumbnail entity-picture__thumbnail--image entity-picture__thumbnail--no-margins" src={{ person.picture }}>
                <ul data-v-4eff3b31=""> </ul>
                <h5 data-v-4eff3b31="" class="md-subheading-1">
                    <span data-v-4eff3b31="" class="search-result-card__entity-name">{{ person.name }}</span>
                </h5>

                <div data-v-4eff3b31="" class="search-result-card__interests" style="--size:64px; --font-size:28px; --border-width:5px; --box-shadow:0px 2px 4px rgba(0,0,0,0.5);">
                    {{ person.summaryOfBio }}
                </div>

                <ul data-v-4eff3b31=""> </ul>
                <span data-v-4eff3b31="">Stats:</span>
                <ul data-v-4eff3b31="">
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Education:      {{stats.education}}</span>
                    </li>
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Interest:       {{stats.interests}}</span>
                    </li>
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Jobs:           {{stats.jobs}}</span>
                    </li>
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Projects:       {{stats.projects}}</span>
                    </li>
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Publications:   {{stats.publications}}</span>
                    </li>
                    <li data-v-4eff3b31="">
                        <span data-v-4eff3b31="">Strenghts:      {{stats.strenghts}}</span>
                    </li>
            </div>

        </div></div>




        {% endblock content %}
